Package: com.huangkun.tweak
Name: Huangkun Tweak
Version: 1.0.0
Architecture: iphoneos-arm64   # 把这里从 arm 改成 arm64
Depends: ellekit               # 依赖改成 ellekit
Maintainer: huangkun
Author: huangkun
Section: Tweaks
